$mainColor: rgb(0,0,255);

// цвет нужно указать через  # или rgb 

.App {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
   justify-content: space-between;
}

.cat-card img {
    height: 150px;
}

button {
    color: $mainColor;
    border: transparent;
    border-radius: 5px;
    width: 10vw;
}

