
.button {
    color: rgb(2, 21, 13);
    border: transparent;
    border-radius: 5px;
    background: rgb(234, 220, 87);
    width: 100px;
    height: 40px;
    font-size: medium;
}

.cat-img {
    width: 150px;
  }