.button {
  background: rgb(8, 31, 94);
  width: 250px;
  height: 80px;
  color: white;
  margin: 20px;
  font-size: medium;
}


.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
  }

